$layout-breakpoint-sm: 767px;

#navbar {
    &.desktop {
        .p-toolbar {
            border-radius: 0;
            border-width: 0;
            border-color: var(--surface-100);
            background-color: #ffffff;
            gap: 0;
            padding: 0 1.25rem 0 0;

            .brand {
                padding: 1rem;
                background-color: var(--primary-color) !important;
                width: 255px;

                a {
                    color: white;
                }

                .p-button-icon {
                    color: white;
                }
            }

            .page-title {
                text-transform: capitalize;
            }
        }
    }

    &.mobile {
        .p-toolbar {
            .p-toolbar-group-center {
                position: fixed;
                left: calc(50% - 35px);
            }
        }
    }
}